.caret {
  position: absolute;
  height: 16px;
  width: 1px;
  background-color: #000;
  animation: blink 1s infinite;
}

.caret--hide {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}